<div class="page-layout simple fullwidth" fusePerfectScrollbar>

  <div class="mat-accent-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <h2>{{glTitulo}}</h2>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24 mat-white-bg">

    <router-outlet></router-outlet>

  </div>


  <div id="filter-button">
    <span><b>{{glCode}}</b></span>
  </div>

</div>




