@import 'src/@fuse/scss/fuse';

:host {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        background: inherit;
        color: inherit;
        position: relative;
        height: 45px;

        .loading-bar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
        }
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 30px;
        }
    }

    .user-button{
      span{
        @include media-breakpoint-up('md') {
          display: inline !important;
        }
      }
    }

    .user-button {
        min-width: 45px;
        height: 45px;

        @include media-breakpoint-down('xs') {
            height: 45px;
        }
    }

    .toggle-button-navbar {
        min-width: 45px;
        height: 45px;
    }

    .toolbar-separator {
        height: 45px;
        width: 1px;
        background: rgba(0, 0, 0, .12);

        @include media-breakpoint-down('xs') {
            height: 45px;
        }
    }


}
