<mat-toolbar class="p-0 mat-elevation-z1">

    <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

          <button mat-icon-button class="toggle-button-navbar"
                  *ngIf="!noNav"
                  (click)="toggleSidebarOpened('navbar')" fxHide.gt-md>
            <mat-icon>menu</mat-icon>
          </button>

        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-button [matMenuTriggerFor]="userMenu"
                    class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">

                  <img class="avatar" src="assets/images/icons/team.svg">

                  <span class="username mr-12" *ngIf="isLogin()">
                    <span fxHide fxShow.gt-xs >
                      <b>BIENVENID@</b> {{getUsuario()}}
                    </span>
                  </span>
                  <mat-icon class="s-16">keyboard_arrow_down</mat-icon>
                </div>
            </button>

            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

              <button mat-menu-item class="" (click)="logout()" *ngIf="isLogin()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Session</span>
              </button>

            </mat-menu>

        </div>
    </div>
</mat-toolbar>
