<div id="login" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="login-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <img src="assets/images/logos/kori-logo-horizontal.png">
      </div>

      <div class="title">Ingrese a su Cuenta</div>

      <div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 10px;">

        <mat-chip-list>
          <mat-chip *ngIf="error != ''" [ngClass]="'mat-red-A700-bg'">{{error}}</mat-chip>
        </mat-chip-list>

      </div>



      <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">

        <mat-form-field style="margin-bottom: 10px;">
          <input matInput placeholder="Usuario" formControlName="email" (keyup)="onKey($event)" autocomplete="new-password">
<!--          <mat-error *ngIf="loginFormErrors.email.required">-->
<!--            Usuario es requerido-->
<!--          </mat-error>-->
          <mat-error *ngIf="loginFormErrors.email.maxlength">
            Es nesesario que se digiten 4 caracteres.
          </mat-error>
          <mat-error *ngIf="loginFormErrors.email.minlength">
            Es nesesario que se digiten 4 caracteres.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Constraseña" formControlName="password" (keyup)="onKey($event)"  autocomplete="new-password">
<!--          <mat-error *ngIf="loginFormErrors.password.required">-->
<!--            Contraseña es requerida-->
<!--          </mat-error>-->
          <mat-error *ngIf="loginFormErrors.password.maxlength">
            Es nesesario que se digiten 10 caracteres.
          </mat-error>
          <mat-error *ngIf="loginFormErrors.password.minlength">
            Es nesesario que se digiten 10 caracteres.
          </mat-error>
        </mat-form-field>

        <!--<div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"-->
             <!--fxLayoutAlign="space-between center">-->
          <!--<mat-checkbox class="remember-me" aria-label="Remember Me" formControlName="recuerdame">-->
            <!--Recuérdame-->
          <!--</mat-checkbox>-->

          <!--<a class="forgot-password" [routerLink]="'/reset-pass/confirm-email'">-->
            <!--¿Olvidaste tu contraseña?-->
          <!--</a>-->
        <!--</div>-->


        <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                [disabled]="loginForm.invalid" >
          Ingresar
        </button>

      </form>

      <!--<div class="separator">-->
        <!--<span class="text">O</span>-->
      <!--</div>-->

      <!--<div class="register" fxLayout="column" fxLayoutAlign="center center">-->
        <!--<span class="text">¿No tienes una cuenta?</span>-->
        <!--<a class="link"-->
           <!--[routerLink]="['/register']" routerLinkActive="active"-->
           <!--matRipple-->
        <!--&gt;Registrame</a>-->
      <!--</div>-->

    </div>

  </div>

</div>
