@import "@fuse/scss/core";

.mat-form-field-appearance-outline .mat-form-field-wrapper{
  font-size: 14px !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 5px 0px 10px 0px !important;
  border-top-width: 7px !important;
}

.myapp-no-padding-dialog .mat-dialog-container {
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  display: block;
  padding: 24px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 100%;
}

.map-button {
  background: #f8ac16;
  color: white;
}

mgl-map {
  height: 100vh !important;
  width: 100vw !important;
}

.kpi_exapanded {
  margin: 5px;
  .mat-expansion-panel{
    border-radius: 10px !important;
    border-color: #81848b;
    border-style: solid;
    border-width: 1px;
  }
  .mat-expansion-panel-header{
    font-weight: bold;
    font-size: 20px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #b3b6bd;
    border-radius: 10px 10px 0px 0px;
  }
  .mat-expansion-panel-body{
    padding: 0px !important;
  }
}

.rowdescription {
  padding-left: 20px;
  padding-bottom: 5px;
  .title {
    font-weight: bold;
    font-size: 14px;
    color: #39465e;
  }
  .description {
    color: #0c141b;
    font-size: 14px;
  }
}
